@font-face {
  font-family: Cursed Timer ULiL;
  src: url(CursedTimerUlil-Aznm.ttf);
}


body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 36px;
    color: #EEEEEE;
    text-align: center;
    background: url("basketball.jpg");
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 10vh auto;
    background: #1B244A;
    width: 575px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 2px 2px whitesmoke;
}

h3{
    margin: 85px 100px 21px 85px;
    text-shadow: 2px 2px 5px #080001
    
}



.home-score{
    margin: 0 auto;
    width: 155px;
    height: 120px;
    background:  #080001;
    margin-left: 85px;
    margin-right: 100px;
    position: absolute;
    border-radius: 5px;
}

.home-score2{
    margin: 0 auto;
    width: 155px;
    height: 120px;
    background:  #080001;
    margin-left: 100px;
    margin-right: 85px;
    position: absolute;
    border-radius: 5px;
}

h2{
    color: #F94F6D;
    font-family: Cursed Timer ULiL;
    font-weight: 400px; 
    font-size: 65px;
}

.main-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button{
    height: 45px;
    width: 45px;
    background: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 400px;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    color:#9AABD8;
    box-shadow: 2px 2px;
}

.newgame-btn{
    height: 60px;
    width: 150px;
    padding: 5px 10px;
    margin-top: 15px;
    background: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 400px;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    color:#9AABD8;
    box-shadow: none;
}

.newgame-btn:hover{
    color: red;
    background: #9AABD8;
    font-size: 24px;
}